# Build directories
build/
build_debug/
__pycache__/

# Data files
data/
visualize_modules/
logs/

# Documents
documents/

# python_modules exclusions
python_modules/__pycache__/
python_modules/models/

# VS文件夹
TopoHexMeshLib_sheet_singularity/.vs/
TopoHexMeshLib_sheet_singularity/_vs/
TopoHexMeshLib_sheet_singularity/packages/