# Build directories
build/
pycache/

# Data files
data/
visualize_modules/
logs/

# Documents
documents/

# TopoHexMeshLib exclusions
TopoHexMeshLib_sheet_singularity/*
!TopoHexMeshLib_sheet_singularity/HMeshLib/
!TopoHexMeshLib_sheet_singularity/TopoHexMeshLib_viewer/
!TopoHexMeshLib_sheet_singularity/src/

# python_modules exclusions
python_modules/pycache/
python_modules/models/